<div class="container my-4">
  <div class="row text-center mb-3">
    <h2 style="color: white;">Calculadora de Transistores</h2>
  </div>
  <div class="row">
    <div class="col-12 offset-md-2 offset-lg-0 col-md-8 col-lg-5 col-xl-4">
      <div class="card">
        <div class="card-header">
          <h5>
            Ingrese los valores
          </h5>
        </div>
        <div class="card-body">
          <div class="input-group mb-3">
            <label class="input-group-text" for="config">Tipo de Configuración</label>
            <select class="form-select" id="config" [(ngModel)]="tipoConf">
              <ng-container *ngFor="let option of tipos">
                <option [value]="option">{{option}}</option>
              </ng-container>
            </select>
          </div>
          <div class="input-group mb-3">
            <label class="input-group-text" for="Transistor">Transistor</label>
            <select class="form-select" id="Transistor" [(ngModel)]="tipoTran">
              <ng-container *ngFor="let option of transistor">
                <option [value]="option">{{option}} </option>
              </ng-container>
            </select>
          </div>
          <div class="input-group mb-3">
            <label class="input-group-text" for="calcular">¿Qué desea calcular?</label>
            <select class="form-select" id="calcular" [(ngModel)]="respuesta">
              <option value="resistencias">Calcular resistencias</option>
              <option value="VyC">Calcular voltajes y corrientes</option>
            </select>
          </div>
          <div class="input-group mb-3">
            <label class="input-group-text" for="Vcc">Voltaje de entrada</label>
            <input  type="number" class="form-control" id="Vcc" [(ngModel)]="Vcc" value="0" min="0" pattern="\d*">
          </div>
          <div class="container text-center">
            <button type="submit" class="btn btn-outline-dark" (click)="mostrarConfgurador()" style="width: 90%;">Generar</button>
          </div>
        </div>
      </div>
      <div class="card text-center mt-5">
        <div class="card-header">
          <h5>Integrantes:</h5>
        </div>
        <div class="card-body">
          <p>Gerardo Femat Delgado</p>
          <p>Francisco de Jesús Mendez Lara</p>
          <p>Sandra Olimpia Estrella Prieto Garcia</p>
          <p>Juan Sebastian Terán Ramirez</p>
          <p>Fecha: 16/06/2023</p>
        </div>
      </div>
    </div>
    <div class="col-12 mt-5 mt-lg-0 col-lg-7 col-xl-8" >
      <div id="error"></div>
     
      <div id="divImg" class="text-center">
        <img style="width: auto; max-height: 400px;" src="" alt="" id="img">
        <input type="" hidden>
        <br>
        <div class="d-flex justify-content-evenly my-2">
          <button id="btnCalc" (click)="calc()" hidden class="btn btn-success" style="width: 30%;">Calcular</button>
          <button id="btnPeg" (click)="pegarEstructura()" hidden class="btn btn-dark" style="width: 30%;">Pegar</button>
          <button id="btnCop" (click)="copiarEstructura()" hidden class="btn btn-dark" style="width: 30%;" disabled>Copiar</button>
        </div>
        <div class="container my-3">
          <div class="row row-cols-1 row-cols-md-2" id="resultados">
            <div class="col" id="divRb" hidden>
              <div class="input-group mb-3" >
                <label class="input-group-text" for="Rb" id="labelRb">Rb</label>
                <input class="form-control text-center" type="number" id="Rb" min="0" pattern="\d*">
                <span class="input-group-text">&#8486;</span>
              </div>
            </div>
            <div class="col" id="divR2" hidden>
              <div class="input-group mb-3">
                <label class="input-group-text" for="R2" id="labelR2">R2</label>
                <input class="form-control text-center" type="number" id="R2" min="0" pattern="\d*">
                <span class="input-group-text">&#8486;</span>
              </div>
            </div>
            <div class="col" id="divRc" hidden>
              <div class="input-group mb-3">
                <label class="input-group-text" for="Rc" id="labelRc">Rc</label>
                <input class="form-control text-center" type="number" id="Rc" min="0" pattern="\d*">
                <span class="input-group-text">&#8486;</span>
              </div>
            </div>
            <div class="col" id="divRe" hidden>
              <div class="input-group mb-3" >
                <label class="input-group-text" for="Re" id="labelRe">Re</label>
                <input class="form-control text-center" type="number" id="Re" min="0" pattern="\d*">
                <span class="input-group-text">&#8486;</span>
              </div>
            </div>
            <div class="col" id="divIe" hidden>
              <div class="input-group mb-3">
                <label class="input-group-text" for="Ie" id="labelIe">Ie</label>
                <input class="form-control text-center" type="number" id="Ie" min="0" pattern="\d*">
                <span class="input-group-text">A</span>
              </div>
            </div>
            <div class="col"  id="divIb" hidden>
              <div class="input-group mb-3">
                <label class="input-group-text" for="Ib" id="labelIb">Ib</label>
                <input class="form-control text-center" type="number" id="Ib" min="0" pattern="\d*">
                <span class="input-group-text">A</span>
              </div>
            </div>
            <div class="col" id="divIc" hidden>
              <div class="col input-group mb-3" >
                <label class="input-group-text" for="Ic" id="labelIc">Ic</label>
                <input class="form-control text-center" type="number" id="Ic" min="0" pattern="\d*">
                <span class="input-group-text">A</span>
              </div>
            </div>
            <div class="col" id="divVe" hidden>
              <div class="input-group mb-3" >
                <label class="input-group-text" for="Ve" id="labelVe">Ve</label>
                <input class="form-control text-center" type="number" id="Ve" min="0" pattern="\d*">
                <span class="input-group-text">V</span>
              </div>
            </div>
            <div class="col" id="divVb" hidden>
              <div class="input-group mb-3" >
                <label class="input-group-text" for="Vb" id="labelVb">Vb</label>
                <input class="form-control text-center" type="number" id="Vb" min="0" pattern="\d*">
                <span class="input-group-text">V</span>
              </div>
            </div>
            <div class="col" id="divVc" hidden>
              <div class="input-group mb-3">
                <label class="input-group-text" for="Vc" id="labelVc">Vc</label>
                <input class="form-control text-center" type="number" id="Vc" min="0" pattern="\d*">
                <span class="input-group-text">V</span>
              </div>
            </div>
            <div class="col" id="divVce" hidden>
              <div class="input-group mb-3">
                <label class="input-group-text" for="Vce" id="labelVce">Vce</label>
                <input class="form-control text-center" type="number" id="Vce" min="0" pattern="\d*">
                <span class="input-group-text">V</span>
              </div>
            </div>
            <div class="col" id="divVcc2" hidden>
              <div class="input-group mb-3">
                <label class="input-group-text" for="Vcc2" id="labelVcc2">Vcc</label>
                <input class="form-control text-center" type="number" id="Vcc2" min="0" pattern="\d*">
                <span class="input-group-text">V</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>